<<<<<<< HEAD
@import "../../../../global-scss/_variables.scss";

.background {
    background: $med-grey;
    height: 87%;
=======
@import "../../../../global-scss/_variables.scss";

p {
    margin-top: 20px;
    margin-left: 20px;
    color: black;
>>>>>>> 60e51669c798aed2b942c06d7624cc3031e753ab
}