// $small-devices: 768px;
// $medium-devices: 992px;
// $large-devices: 1200px;

// @mixin sm {
//     @media (min-width: #{$small-devices}) {
//         @content;
//     }
// }

// @mixin md {
//     @media (min-width: #{$medium-devices}) {
//         @content;
//     }
// }

// @mixin lg {
//     @media (min-width: #{$large-devices}) {
//         @content;
//     }
// }