<!-- <div [ngClass]="{'sucess-toast': toastFlag, 'sucess-toast-hidden': !toastFlag}">
    <div class="progress">
        <div class="progress-bar" role="progressbar"></div>
    </div>
    <span class="toast-content">
        The user has been added to the AMAZE Portal.
    </span>
    <span class="close-icon" (click)="onCloseClick()"></span>
</div> -->


<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#roleModal">
    Launch the modal
</button>
<div class="modal fade in" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="roleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Inside the header
            </div>
            <div class="modal-body">
                Inside the Body
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" (click)="onModalSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div> -->