<section class="table-section">
  <table class="table">
    <thead>
    <tr>
      <th [class.active]="order === 'first_name'"
          (click)="setOrder('first_name')"
          >FirstName
      </th>
      <th>LastName</th>
      <th>Employee ID</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | orderBy: order:reverse:'case-insensitive'| paginate: { itemsPerPage: 5, currentPage: p }; let i = index ">
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.employee_id}}</td>
      <td>{{user.role}}</td>
    </tr>
    </tbody>
  </table>
  <pagination-controls  class="table-pagination" (pageChange)="p = $event">
  </pagination-controls>
</section>